@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Pacifico&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    list-style: none;
    text-decoration: none;
}

.hidden-desc{
    display: none;
}

.pre-icon{
    padding: 0 0.2em;
}

.nav-btn-hidden{
    display: none;
    padding:0.5em 1.5em;
    border: 2px solid black;
    border-radius: 10px;
    background: none;
    font-size: 1.1em;
}

.pre-header{
    text-align: center;
    background-color: rgb(255, 234, 0);
    padding: 0.8em;
}

.nav-icon{
    position: relative;
    top: 5px;
    height: 35px;
}

.pre-header a{
    color: black;
}
.pre-header a:hover{
    text-decoration: 1px underline;
}

header{
    padding:0.8em 3em;
}

.navigation-bar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: sticky;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn-container{
    display: flex;
    justify-content: end;
    gap: 1.5em;
    align-items: center;
}

.nav-btn{
    padding:0.5em 1.5em;
    border: 2px solid black;
    border-radius: 10px;
    background: none;
    font-size: 1.1em;
}

.nav-btn a{
   color: black; 
   text-decoration: none;
}
.nav-btn-hidden a{
   color: black; 
}

nav ul{
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 2.5em;
}

nav ul li{
    font-size: 1.1em;
}

nav ul li a{
    color: black;
}


.logo{
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    font-family: 'Beth Ellen', cursive;
    cursor: pointer;
}

.hamburger{
    display: none;
    cursor: pointer;
    padding-top: 5px;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 100px;
    position: relative;
    top: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
}


.navigation-bottom{
    border-top: 1px solid rgb(234, 234, 234);
    border-bottom: 1px solid rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }
.nav-menu{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding:0.8em 0;
 }

 .nav-item .nav-link{
    color: black;
    font-weight: 500;
 }

 .nav-link{
    transition: 0.7s ease;
 }

 .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 /* body content */

 /* page-one-container */

 .page-one-container{
    background-image: url(images/index-bg-images/bg-one.jpg);
    background-size: 100%;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
 }

 .content-one{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }

 .one{
    padding-left: 9em;
    padding-top: 9em;
 }

 .one h1{
    font-size: 4.5em;
    color: #fff;
    padding-bottom: 0.5em;
 }
 .one h1 span{
    color: rgb(255, 234, 0);
 }

 .input-holder{
    display: flex;
    width: 100%;
    align-items: center;
 }

 .read-only{
    border-style: dotted;
    padding-left: 0.5em;
    height: 80px;
    padding-top: 1em;
    border-right: none;
    padding-bottom: 1em;
    border-radius: 100px 0 0 100px;
    border-color: rgb(238, 236, 236);
 }

 .read-only p{
    font-size: 2em;
    color: #fff;
 }

 .input-holder-ext{
    background-color: red;
    height: 80px;
    width: 110px;
    text-align: center;
    border-radius:0 100px 100px 0;
    background-color: rgb(255, 234, 0);
    font-weight: 600;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
 }

 .input-holder-ext p{
    position: relative;
    top: 25px;
 }

 .two{
    position: absolute;
    overflow: hidden;
    right: 0px;
    width: 1300px;
 }

 .image-two{
 position: relative;
 width: 1000px;
 height: 650px;
 left: 500px;
 top: 50px;
 overflow: hidden;
 }

 .price-desc{
    padding-top: 1em;
    padding-bottom: 1em;
 }

 .price-desc p{
    font-size: 2em;
    color: #fff;
 }

 .price-desc p span{
    font-size: 1.3em;
    color: rgb(255, 234, 0);
 }

 .rider-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .rider-container-sub{
    display: flex;
    align-items: center;
 }

 .icon-container{
    height: 100px;
    padding-right: 1em;
 }

 .icon-container-desc{
    line-height: 40px;
    color: #fff;
 }

 .icon-container-desc p{
    font-size: 2em;
 }
 .icon-container-desc p span{
    font-size: 2em;
 }
 .icon-container-desc-colored{
    color: rgb(255, 234, 0);
 }

 .icon-container-btn{
    padding-right: 0.5em;
 }

 .icon-btn{
    padding:1em 2em;
    font-size: 1em;
    color: black;
    background-color: rgb(255, 234, 0);
    border-radius: 100px;
    border: none;
 }

 .icon-btn a{
    color: black;
    font-weight: 600;
    text-decoration: none;
 }
 /* page-one-container End */


 /* page-two-container */
 .page-two-container{
   padding-top: 4em;
 }

 .content-two{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 5em;
    padding-right: 5em;
    grid-gap: 2em;
    position: relative;
 }

 .three{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-row-gap:2em;
    padding-left: 1em;
    padding-right: 1em;
 }

 .sub-nested-one{
    position: relative;
 }
 .img-container-two{
    height: 150px;
    position: absolute;
    padding-right: 1em;
    width: 100%;
    bottom: 0;
 }
 .sub-nested-two{
    grid-column: span 2;
    height: 250px;
    position: relative;
 }
 .img-container-three{
    height: 250px;
    width: 100%;
    position: absolute;
    padding-left: 1em;
 }
 .sub-nested-three{
    height: 250px;
    grid-column: span 2;
    position: relative;
 }
 .img-container-four{
    height: 250px;
    width: 100%;
    position: absolute;
    padding-right: 1em;
 }

 .sub-nested-four{
    position: relative;
 }
 .img-container-five{
    height: 150px;
    position: absolute;
    padding-left: 1em;
    width: 100%;
 }

 .four h1{
    font-size: 5em;
    font-weight: 600;
 }
 .four h1 span{
    color: rgb(255, 234, 0);
 }

 .pepper-icon{
    height: 60px;
    animation-name: pepper;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    left: 50px;
 }
 @keyframes pepper{
    from{
        transform: translateX(10px);
    }
    to{
        transform: translateY(10px);
    }
 }

 .four-paragraph{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.2em;
 }
 
 .img-container-six{
    width: 120px;
    height: 100px;
 }
 .four-desc-container{
    display: flex;
    padding: 1em;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 10px 18px #c0bcbc;
 }
 .four-desc{
    padding-left: 1.5em;
 }
 .four-desc h2{
    font-size: 1.8em;
    padding-bottom: 0.3em;
 }
 .four-desc p{
    font-size: 1.2em;
    padding-bottom: 0.3em;
 }

 .page-three-container{
    padding-top: 3em;
    padding-bottom: 3em;
 }

 .page-three-container h2{
    font-family: 'Beth Ellen', cursive;
    color: rgb(255, 234, 0);
    font-size: 2em;
    text-align: center;
 }
 .page-three-container h1{
    font-size: 3em;
    text-align: center;
    border-top: 1px solid rgb(231, 232, 232);
    border-bottom: 1px solid rgb(231, 232, 232);
    font-weight: 600;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
 }
 .page-three-container h1 span{
    color: rgb(255, 234, 0);
 }


 .page-three-header-links{
	text-align: center;
	justify-content: center;
	align-items: center;
	gap: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
 }

 .page-three-btn{
	border: none;
	background: none;
 }

 .hidden-btn{
	display: none;
 }

 .nav-icon-two{
	height: 60px;
 }

 .page-three-btn-container{
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
 }
 
 .page-three-btn-container .hidden-btn{
	z-index: 99;
	display: none;
 }

 .page-three-btn-container:hover .hidden-btn{
	display: block;
	transform: scale(1.1);
 }
 .page-three-btn-container:hover .visible-btn{
	display: none;
 }

 .page-three-btn-container-two{
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
 }
 
 .page-three-btn-container-two .hidden-btn{
	z-index: 99;
	display: none;
 }

 .page-three-btn-container-two:hover .hidden-btn{
	display: block;
	transform: scale(1.1);
 }
 .page-three-btn-container-two:hover .visible-btn{
	display: none;
 }

 .page-three-btn-container-three{
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
 }
 
 .page-three-btn-container-three .hidden-btn{
	z-index: 99;
	display: none;
 }

 .page-three-btn-container-three:hover .hidden-btn{
	display: block;
	transform: scale(1.1);
 }
 .page-three-btn-container-three:hover .visible-btn{
	display: none;
 }

 .nested-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    padding-top: 3em;
    padding-left: 5em;
    padding-right: 5.5em;
 }

 .card-img{
    border-radius: 15px  15px 0 0;
    width: 100%;
 }

 .img-container-seven{
    height: 180px;
    border-radius: 15px  15px 0 0;
 }

 .card-desc{
    /* padding-top: 0.5em;
    padding-bottom: 0.5em; */
    text-align: center;
 }

 .card-desc h3{
    font-size: 1.5em;
    /* padding-top: 0.5em;
    padding-bottom: 0.5em; */
    font-size: 2em;
 }

 .card-desc p{
    font-size: 1.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
 }
 .card-desc p span{
    color: rgb(255, 234, 0);
    font-size: 1.2em;
 }

 .card-desc-btn-container{
    padding-top: 0.5em;
    padding-bottom: 1em;
 }

 .card-btn{
    padding: 0.5em 3em;
    border-radius: 100px;
    background: none;
    border: 2px solid black;
    font-size: 1.2em;
 }

 .sub-nested-five{
    box-shadow: 5px 10px 18px #c0bcbc;
    border-radius: 0  0 15px 15px ;
    width: 300px;

 }
 .card-btn-icon{
    padding-right: 0.5em;
 }

 .card-heading{
    color: black;
 }
 /* page-two-container End */


  /* body content End */



 footer{
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 4.5em;
    padding-right: 4.5em;
    background-color: rgb(255, 234, 0);
}

.footer-top{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3em;
}

.grid-span{
    grid-column: span 2;
}
 
.nested-container-six h3{
    padding-bottom: 1em;
    font-size: 18px;
}

.nested-container-six h4{
    padding-bottom: 1em;
}

.nested-container-six p{
    line-height: 30px;
    padding-bottom: 0.5em;
}

.nested-container-six li{
    line-height: 30px;
}
.nested-container-six li a{
    color: black;
}

input{
    padding: 1.2em;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(128, 127, 127);
    background: none;
    font-size: 1em;
}

.img-container-three{
    text-align: center;
}

.footer-bottom{
    display: grid;
    padding-top: 3.8em;
}

.footer-bottom-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-icon-container{
    display: flex;
    padding: 0.5em 0;
    gap: 0.8em;
}

.icon{
    color: black;
}

.nested-container-seven{
    justify-content: end;
    display: flex;
}

.footer-bottom-btn{
    border: 1px solid black;
    height: 100%;
    padding: 0 3.5em;
    border-radius: 5px;
    text-decoration: none;
    background: none;
}

.footer-bottom-btn a{
    font-size: 1.2em;
    color: black;
    word-spacing: 3px;
}

/* .content-two{
    display: block;
} */

.page-two-container{
    padding-left: 1em;
    padding-right: 1em;
}

.nested-container-one{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
}
.nested-container-two{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
}

@media(max-width: 900px){

    .hidden{
        display: none;
    }
    .footer-top{
        display: block;
        text-align: center;
    }
    .footer-bottom-container{
        display: block;
    }
    .nested-container-seven{
        justify-content: center;
        display: flex;
        padding: 1.5em 0;
    }
    .footer-bottom-container-two{
        justify-content: center;
        display: flex;
        padding: 1.5em;
    }
    .footer-bottom-btn{
        height: 10vh;
    }

    .hidden-desc{
        display: block;
    }
    .visible-desc{
        display: none;
    }

    .page-three-container{
        padding-left: 1em;
        padding-right: 1em;
    }
    .nested-five{
    display: block;
    grid-gap: 1em;
 }

 .content-one{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
 }

 .one{
    padding-left: 2em;
    padding-right: 2em;
 }

 .one h1{
    font-size: 3em;
 }

 .two{
    display: none;
 }
 .read-only p{
    font-size: 1.3em;
    font-weight: 600;
    color: rgb(0, 0, 0);
 }

 .icon-btn{
    padding: 0.5em 1em;
 }
 .icon-btn a{
    font-size: 1em;
 }
 .icon-container-desc p{
    font-size: 1em;
 }

 .content-two{
    display: block;
    padding-left: 1em;
    padding-right: 1em;
 }
 .four h1{
    font-size: 2.5em;
    padding-top: 1em;
    text-align: center;
 }
 .pepper-icon{
    display: none;
 }
 .nested-container{
    display: block;
 }
 .page-one-container{
   height: 900px;
 }
 
 .content-two{
   padding: 0;
 }

@media(max-width: 600px){

    header{
        padding: 0.8em 1.5em;
    }

    .nav-btn-hidden{
        display: block;
    }

    .nav-btn{
        display: none;
    }

    .hamburger{
        display: block;
    }
    .bar{
        position: relative;
        bottom: 10px;
    }
    .header-img-desktop{
        display: none;
    }
    .header-img-mobile{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
    position: fixed;
    z-index: 1;
    left: -100%;
    top: 110px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding:2em 0;
    }
    .nav-menu li {
        padding: 2em;   
    }
    .nav-menu li a{
        text-align: center;
        width: 100%;
        color: rgb(79, 79, 79);
    }
    .nav-items{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .nested-container-one{display: block;}
    .nested-container-two{display: block;}
    .nested-container{
     padding: 3em;
    }
    
}
}